@import '../../app/styles/variable';

.products {
  &__title {
    position: relative;
    margin-top: 70px;

    div {
      border-top: 1px solid #dedede;
      z-index: -1;
      width: 80%;
      margin: 0 auto;
    }

    p {
      color: black;
      text-align: center;

      &:first-child {
        position: absolute;
        top: -50px;
        z-index: 100;
        background-color: white;
        left: 37%;
        padding: 0 30px;
        font-size: 30px;
        color: $rosa;
        font-family: $fonteBold;
      }

      &:nth-child(2) {
        margin-top: 25px;
        font-family: $fonteBold;
      }
    }
  }
}
