@import '../../../app/styles/variable';

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1000;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 769px;
  min-height: 300px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);

  &__info {
    width: 50%;

    h2 {
      margin: 0;
      color: #041e50;
      font-family: $fonteLight;
      letter-spacing: 1px;
    }

    &__price {
      color: #041e50;
      margin: 0;
      font-family: $fonteSemiBold;
      font-size: 20px;
      margin: 15px 0;
    }

    &__description {
      margin: 0;
      color: #222222;
      font-size: 10px;
      width: 80%;
      margin-bottom: 10px;
    }

    span {
      margin: 0;
      color: #041e50;
      font-size: 12px;
      font-family: $fonteMedium;
    }

    &__close {
      position: absolute;
      right: 3px;
      top: 3px;
      width: 30px;
      height: 30px;
    }

    &__close:hover {
      cursor: pointer;
    }

    &__quantity {
      margin: 10px 0 20px 0;
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 20px;
      color: #041e50;
      font-size: 20px;
      border: 1px solid #041e50;
      padding: 7px 10px;
      border-radius: 5px;

      p {
        margin: 0;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    button {
      width: 70%;
      background-color: $rosa;
      color: white;
      font-family: $fonteSemiBold;
      border: none;
      padding: 15px 20px;
      border-radius: 5px;
    }
  }
}
