@import '../../app/styles/variable';

.brands {
  width: 1280px;
  margin: 0 auto;

  h1 {
    text-align: center;
    color: $rosa;
    font-family: $fonteBold;
    margin: 80px 0;
    font-size: 30px;
    margin-left: 50px;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    img {
      border-radius: 50%;
      box-shadow: 1px 1px 30px rgb(216, 213, 213);
      width: 172px;
      height: 172px;
      padding: 18px;

      &:first-child {
        width: 75px;
        height: 75px;
        position: absolute;
        border-radius: 0;
        padding: 0;
        right: 25px;
        box-shadow: none;
        top: 75px;
      }

      &:first-child:hover {
        cursor: pointer;
      }
    }
  }
}
