@import '../../app/styles/variable';

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: $fonteMedium;

  p {
    margin: 0;
    color: #9f9f9f;
  }

  img {
    width: 30px;
  }
}

.subGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pinkText {
  color: $rosa;
}
