@import '../../app/styles/variable';

.banner {
  position: relative;
  width: 1440px;
  height: 395px;
  background-image: linear-gradient(transparent, 60%, black);

  img {
    position: absolute;
    z-index: -1;
  }

  div {
    position: absolute;
    width: 1280px;
    margin-left: 90px;
    margin-top: 55px;

    p {
      width: 50%;
      color: white;
      font-size: 36px;
      font-family: $fonteSemiBold;
      margin: 0;

      &:first-child {
        font-size: 48px;
      }
    }

    button {
      width: 227px;
      height: 60px;
      background-color: $rosa;
      border: none;
      color: white;
      font-family: $fonteSemiBold;
      border-radius: 5px;
      margin-top: 35px;
    }

    button:hover {
      cursor: pointer;
    }
  }
}
